@model IEnumerable<ApplicationUser>
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-primary">Lista de Usuários</h2>
    </div>
</div>
<div class="p-4 border rounded">
    @if (Model.Count() > 0)
    {
        <table class="table table-striped border">
            <tr class="table-secondary">
                <th>E-mail</th>
                <th>Nome</th>
                <th>Roles</th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Email</td>
                    <td>@item.Name</td>
                    <td>@item.Role</td>
                    <td>
                        <div class="text-center">
                            <form asp-action="Delete" asp-route-userId="@item.Id">
                                <a asp-action="Edit" asp-route-userId="@item.Id" class="btn btn-info text-white" style="cursor:pointer">
                                    Editar
                                </a>

                                <a asp-action="ManageUserClaims" asp-route-userId="@item.Id" class="btn btn-primary text-white"
                                   style="cursor:pointer">Permissões</a>

                                @if ((null == item.LockoutEnd || item.LockoutEnd < DateTime.Now) && item.Role != "SuperAdmin")
                                {
                                    <button asp-action="LockUnlock" asp-route-userId="@item.Id" class="btn btn-success text-white"
                                            style="cursor:pointer">
                                        <span>&nbsp; Bloquear &nbsp;</span>
                                    </button>
                                }
                                else if (item.Role != "SuperAdmin")
                                {
                                    <button asp-action="LockUnlock" asp-route-userId="@item.Id" class="btn btn-warning text-white"
                                            style="cursor:pointer">
                                        <span>Desbloquear</span>
                                    </button>
                                }
                                else
                                {
                                    <button disabled class="btn btn-secondary" title="Desculpe, não é possível bloquear um super administrador">
                                        @* nbsp; significa non-breaking space(espaço rígido), é útil para formatação, em situações onde um elemento pode ter um texto
                                            que se altera dependendo da situação, isso evita que o elemento diminua ou aumente de tamanho para acompanhar o texto*@
                                        <span>&nbsp; Bloquear &nbsp;</span>
                                    </button>
                                }
                                @if (item.Role != "SuperAdmin")
                                {
                                    <button type="submit" onclick="return confirm('Tem certeza que deseja excluir?')"
                                            class="btn btn-danger">
                                        Excluir
                                    </button>
                                }
                                else
                                {
                                    <button type="submit" disabled class="btn btn-secondary" title="Desculpe, não é possível excluir um super administrador">
                                        Excluir
                                    </button>
                                }
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </table>
    }
</div>
